/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Rolagem suave */
}

body {
  font-family: "Roboto", sans-serif;
  color: #303030;
  font-size: 14px;
}

section {
  scroll-margin-top: 80px; /* Margem para compensar o header */
  width: 100%;
}

.limitar-secao {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
}

.titulo-secao {
  text-align: center;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #01579b; /*#00bebc;*#01579b;*/
  font-weight: 700;
  font-size: 28px;
  text-shadow: 1px 1px #fff;
}

.resumo-secao {
  padding-bottom: 30px;
  text-align: center;
  line-height: 26px;
  padding: 0 15px 0;
}

.card-servicos,
.card-planos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-flow: column wrap;
  border: solid 1px #006b5e;
  border-radius: 10px;
  padding: 20px 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

/* HEADER*/
.logo img {
  width: 30px;
  height: 30px;
}

.logo {
  display: flex;
  column-gap: 10px;
}

.titulo-logo p {
  color: #01579b;
  font-weight: 500;
  font-size: 16px;
}

.secao-cabecalho {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 1;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu li {
  list-style-type: none;
  text-transform: uppercase;
}

.menu li a {
  font-weight: 700;
  font-size: 16px;
}

.menu li a:link,
.menu li a:visited {
  color: #01579b;
}

.menu li a:hover,
.menu li a:active {
  color: #ff6d00;
}

/* BANNER */

.foto-banner {
  background-image: url("../assets/editada-jovem-desportista-feliz-usando-telefone-celular-e-ouvindo-musica-enquanto-se-exercita-no-centro-de-fitness-copiar-espaco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 500px;
  width: 100%;
}

.foto-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.texto-banner {
  width: 50%;
  margin: 0 30px 0;
  padding-left: 40px;
}
.titulo-banner,
.subtitulo-banner {
  color: #fff;
  text-shadow: 1px 1px #303030;
  font-weight: 600;
}

.titulo-banner {
  font-size: 30px;
  margin-bottom: 15px;
}

.subtitulo-banner {
  font-size: 20px;
  padding-top: 5px;
}
.inscreva-se {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 35px;
  gap: 15px;
}
.inscreva-se img {
  width: 30px;
  height: 30px;
}

.inscreva-se a {
  font-size: 18px;
  font-weight: 700;
}

.link-inscreva-se:link,
.link-inscreva-se:visited {
  color: #fff;
}

.link-inscreva-se:hover,
.link-inscreva-se:active {
  color: #ff6d00;
}

/* SOBRE NÓS */
.nossa-historia p {
  padding-bottom: 40px;
  text-align: justify;
  line-height: 30px;
}

/* SERVIÇOS */

.container-servicos,
.container-planos {
  width: 1024px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.card-servicos {
  width: calc(80% / 3);
  height: 200px;
}

.card-servicos h3,
.card-planos h3 {
  color: #01579b;
}

.servicos img {
  filter: invert(32%) sepia(83%) saturate(400%) hue-rotate(170deg)
    brightness(96%) contrast(92%);
  width: 42px;
  height: 42px;
}

/* DIFERENCIAIS*/
.foto-sobre-nos {
  background-image: url("../assets/spping.jpg");
}
.foto-diferencias {
  background-image: url("../assets/mulher-fazendo-agachamento-na-maquina-de-ferreiro.jpg");
}

.foto-efeito-parallax {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
}

.lista-diferenciais {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 30px;
}

.lista-diferenciais li {
  padding-bottom: 25px;
  position: relative;
}

.lista-diferenciais li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../assets/icones/verificado.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  margin-left: -50px;
}

.foto-treino {
  background-image: url("../assets/homem-forte-treinando-na-academia.jpg");
}

/* PLANOS */

.card-planos {
  width: 210px;
  height: auto;
  padding: 20px 10px;
}

.lista-planos {
  width: 100%;
  padding: 20px 0;
  list-style-type: none;
  margin: 0;
}
.lista-planos li {
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: solid 1px #dfdddd;
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
}

.lista-planos li:last-child {
  border-bottom: none;
}

.lista-planos li::before {
  content: "";
  position: absolute;
  background-image: url("../assets/icones/check-azul.png");
  background-position: center;
  background-size: cover;
  margin-left: -30px;
  width: 20px;
  height: 20px;
}

.card-planos h3 {
  padding: 20px 15px 0;
  font-weight: bold;
  font-size: 24px;
}

.destaque-preco {
  font-weight: 700;
  font-size: 20px;
}

.destaque-detalhe-preco {
  font-size: 9px;
}

/* SECAO-INSCREVA-SE*/
.secao-inscreva-se {
  background: #00a7ba;
  background: radial-gradient(
    circle,
    rgba(0, 167, 186, 1) 6%,
    rgba(0, 201, 162, 1) 50%
  );
  height: 200px;
}

.container-inscreva-se {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-whatsapp {
  font-size: 30px;
  font-weight: 700;
  padding: 30px 20px;
}

.link-whatsapp:link,
.link-whatsapp:visited {
  color: #fff;
}

.link-whatsapp:hover,
.link-whatsapp:active {
  color: #002b3c;
}

.logo-whatsapp {
  width: 40px;
  height: 40x;
}
/* RODAPÉ */
.secao-rodape {
  background: #00a7ba;
  background: linear-gradient(
    90deg,
    rgba(0, 167, 186, 1) 0%,
    rgba(0, 201, 162, 1) 50%,
    rgba(252, 252, 134, 1) 100%
  );
  width: 100%;
}
.iframe {
  margin-top: 20px;
}

.mapa {
  height: 250px;
  width: 100%;
}
.rodape,
.container-rodape,
.redes-sociais-icones {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes-sociais-icones {
  gap: 10px;
}
.rodape {
  flex-flow: column wrap;
  gap: 20px;
}
.container-rodape {
  gap: 40px;
}
.paragrafos-rodape {
  line-height: 25px;
}
.redes-sociais-icones {
  margin-top: 5px;
}
.redes-sociais-icones img {
  width: 25px;
  height: 25px;
}

.linha-divisoria {
  width: 80%;
  border-bottom: solid 0.5px #324b4f;
  margin-top: 20px;
  margin-bottom: 10px;
}

.paragrafo-desenvolvedor {
  font-size: 10px;
  padding-top: 5px;
}

.logo-whatsapp-fixo {
  position: fixed;
  right: 40px;
  bottom: 60px;
  width: 60px;
}

.logo-whatsapp-fixo:hover {
  transform: translate(5px, 5px);
}

.logo-whatsapp-fixo img {
  width: 100%;
}

/* ------- RESPONSIVIDADE -------------------*/
@media (max-width: 425px) {
  .menu li a {
    font-size: 14px;
  }
  .titulo-banner {
    font-size: 12px;
  }
  .lista-diferenciais li::before {
    margin-left: -30px;
  }
  .lista-diferenciais li {
    width: 60%;
    text-align: center;
  }
  .card-planos {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .card-planos {
    width: 40%;
    height: auto;
  }

  .logo-whatsapp-fixo {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  section {
    scroll-margin-top: 100px;
  }

  .limitar-secao {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .resumo-secao {
    padding: 0 40px 0;
    margin-bottom: 15px;
  }

  .titulo-secao {
    font-size: 18px;
  }
  .cabecalho {
    flex-direction: column;
    height: 20%;
    gap: 15px;
  }

  .titulo-logo {
    display: flex;
    gap: 5px;
  }
  .logo {
    justify-content: center;
    align-items: center;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu li {
    font-size: 11px;
  }

  .foto-banner {
    justify-content: flex-start;
    align-items: flex-end;
    height: 80vh;
  }

  .texto-banner {
    width: 50%;
    margin: 50px 10px;
    padding-left: 5px;
  }

  .titulo-banner {
    font-size: 20px;
  }

  .subtitulo-banner {
    font-size: 15px;
  }
  .secao-banner {
    padding-top: 40px;
  }

  .foto-efeito-parallax {
    display: none;
  }

  .nossa-historia p {
    padding-bottom: 0px;
    padding-top: 25px;
    line-height: 25px;
  }
  .container-servicos,
  .container-planos,
  .container-rodape {
    flex-flow: row wrap;
  }
  .card-servicos h3 {
    font-size: 13px;
  }
  .card-servicos {
    width: 40%;
    height: auto;
    flex: column;
  }
  .lista-diferencias li {
    text-align: center;
  }

  .container-rodape {
    flex-flow: column wrap;
    text-align: center;
  }
}
